body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.game-frame {
    position: relative;

    width: 600px;
    height: 400px;

    background-color: #bddcf0;

    border: 1px black solid;
    border-radius: 2px;
}

#bird-img {
    position: absolute;
    width: 50px;
    height: 40px;
}

.hide{
    display: none;
}

#start-game-btn{
    border-radius: 5px;
    width: 16%;
    height: 60px;
    font-size: 20px;
    background-color: #fc5151;
    position: absolute;
    left: 42%;
    top: 30%;
}

.obstacle{
    position: absolute;
    border: 1px #747474 solid;
    border-radius: 2px;
}